body > * {
      border: 2px solid pink;
    }

    * {
      box-sizing: border-box;
    }

    :root {
      --grid-info-size: 230px;
      --color-bg-hi: rgb(4, 134, 241);
    }

    html,
    body {
      margin: 0;
      padding: 0;
    }

    body {
      display: grid;
      grid-template-areas:
        "social info content"
        "footer footer footer";
      grid-template-columns: auto var(--grid-info-size) 1fr;
      grid-template-rows: 1fr 120px;
      gap: .5rem;
      padding: .5rem;
      min-height: 100svh;
    }

    aside {
      display: flex;
      flex-direction: column;
      align-items: center;

      grid-area: info;

      .thumb {
        width: calc(var(--grid-info-size) - 20px);
        height: calc(var(--grid-info-size) - 20px);
        background-color: lightgray;
        border-radius: 50%;
        flex: none;
        z-index: 2;
        overflow: clip;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      section {
        background-color: var(--color-bg-hi);
        width: 100%;
        height: 100%;
        margin-top: -4rem;
        padding-top: 4rem;
        z-index: 1;
        clip-path: polygon(0 20px, 100% 0, 100% 100%, 0 100%);
      }
    }

    main {
      grid-area: content;
      position: relative;
      isolation: isolate;
      padding: 1rem;

      h1 {
        margin: 0 0 5rem 0;
        font-size: 5rem;
      }

      &:before {
        content: "";
        background-color: var(--color-bg-hi);
        position: absolute;
        inset: 0;
        z-index: -1;
        clip-path: polygon(
          0    calc(var(--grid-info-size) * .63), 
          100% calc(var(--grid-info-size) * 0.25), 
          100% 100%, 
          0    100%
        );
      }
    }

    .gallery {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
        grid-template-rows: repeat(auto-fit, minmax(100px, 1fr));
        gap: 1rem;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }

        :first-child {
            grid-column: 1 / span 1;
            grid-row: 1 / span 1;
        }
    }

    .social {
      grid-area: social;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;

      img {
        width: 2rem;
        height: 2rem;
      }
    }

    footer {
      grid-area: footer;
    }